@model Assesment_247.Models.FormModel

@{
    ViewData["Title"] = "Menu";
}

<h1>Menu</h1>

<h4>FormModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Menu">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Calories" class="control-label"></label>
                <input asp-for="Calories" class="form-control" />
                <span asp-validation-for="Calories" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ingredient1" class="control-label"></label>
                <input asp-for="Ingredient1" class="form-control" />
                <span asp-validation-for="Ingredient1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ingredient2" class="control-label"></label>
                <input asp-for="Ingredient2" class="form-control" />
                <span asp-validation-for="Ingredient2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
